@media screen and (max-width: 500px) {
    td:nth-child(1){
        display: none;
    }
    th:nth-child(1){
        display: none;
    }
    .container{
        font-size: 10pt;
    }

}
@media screen and (max-width: 400px) {
    .container{
        font-size: 9pt;
    }
}
