@media screen and (max-width: 500px) {
    td:nth-child(1){
        display: none;
    }
    th:nth-child(1){
        display: none;
    }
    .container{
        font-size: 10pt;
    }

}
@media screen and (max-width: 400px) {
    .container{
        font-size: 9pt;
    }
}
.skeleton-loader {
    padding: 1rem;
  }
  
  .skeleton-row {
    width: 100%;
    height: 30vh;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }