<div class="container p-4">
  <h1 *ngIf="filteredUserList.length > 0" class="text-center">Bảng điểm danh</h1>
  <input type="text" class="form-control mb-3" placeholder="Search by MSSV or Họ và tên" [(ngModel)]="searchTerm" (input)="filterUserList()">
  <button class="btn btn-outline-success border-0 m-1" (click)="downloadAttendanceList()">Download</button>
  <div *ngIf="filteredUserList.length === 0" class="alert alert-danger fs-1 text-center m-4">
    No student found, please ensure that the student has been registered
  </div>
  <table *ngIf="filteredUserList.length > 0" class="table table-responsive table-hover table-bordered mt-2">
    <thead class="text-center">
    <tr>
      <th scope="col">#</th>
      <th scope="col">MSSV</th>
      <th scope="col">Họ và tên</th>
      <th scope="col">Điểm danh</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr *ngFor="let item of filteredUserList; let i = index">
      <td>{{i + 1}}</td>
      <td>{{item.MSSV}}</td>
      <td>{{item.Name}}</td>
      <td><span *ngIf="item.attendance">{{ item.attendance }}</span></td>
    </tr>
    </tbody>
  </table>
</div>
